<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>
      <%= t "get_help" %>
      <a href="https://www.railstutorial.org/help"><%= t "tutorial_help_page" %></a>.
    </p>
  </body>
</html>