<footer class="footer">
  <small>
    <a href="https://www.railstutorial.org/"><%= t "tutorial" %></a>
    <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/"><%= t "new" %></a></li>
    </ul>
  </nav>
</footer>
